In [39]:
import pandas as pd;
import matplotlib.pyplot as plt;
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

In [40]:
df = pd.read_excel('Cat_Data.xlsx')
df.head()

,Row.names,Horodateur,Sexe,Age,Race,Nombre,Logement,Zone,Ext,Obs,...,Brutal,Dominant,Agressif,Impulsif,Prévisible,Distrait,Abondance,PredOiseau,PredMamm,Plus
0,1,2021-02-09 16:36:39,F,Moinsde1,SBI,3,ASB,U,0,0,...,1,1,1,1,1,1,NSP,4,4,NaN
1,10,2021-02-12 18:25:58,F,Moinsde1,SBI,1,AAB,U,0,2,...,2,2,3,4,4,3,NSP,0,0,NaN
2,100,2021-03-06 22:04:33,F,2a10,EUR,4,ML,U,0,2,...,1,1,1,2,4,2,NSP,0,0,"Elle ne chasse pas car elle ne sort pas, si el..."
3,1000,2021-02-18 16:10:11,F,Moinsde1,EUR,1,ML,R,2,2,...,4,3,3,3,4,4,3,0,0,Elle vient quand je l'appelle
4,1001,2021-02-18 18:00:51,F,1a2,SBI,2,MI,R,1,2,...,2,4,1,4,3,3,3,0,0,NaN

In [41]:


#count unknowns TUV/ Autre/NSP
num_breed = df['Race'].value_counts()
print(df.shape)

df = df.loc[df["Obs"] != 0]
df = df.loc[df["Obs"] != 1]
df = df.loc[df["Age"] != "Moinsde1"]



df.shape

(3143, 29)

(2236, 29)